SUN2012/
ADE20K_2016_07_26/
datasets1/
datasetsnew2/
datasetsold/
*.pickle
*.csv
*.zip
logs/
.vscode/
*.txt
checkpoints/
.vscode/
datasets/__pycache__/__init__.cpython-37.pyc
datasets/__pycache__/ade20k.cpython-37.pyc
test.png
ms-python-insiders.vsix
